@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.main {
  background-color: #f6ebda;
  background-image: url(./img/bg_img_hero.svg), url(./img/bg_img_hero.png);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  height: 120vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.navbar .tabs ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  list-style: none;
}
.navbar .tabs ul a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #000000;
}
.navbar .tabs ul .active {
  color: #ff902b;
}

.search {
  display: flex;
  gap: 1rem;
}

.input__search {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  transition: outline 0.3s;
  box-shadow: 6px 2px 24px 0px rgba(0, 0, 0, 0.1294117647);
}
.input__search .input__search:focus-within {
  outline: 2px solid #1d4ed8;
}
.input__search input {
  outline: none;
  border: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: auto;
  margin-top: 140px;
}
.hero .hero__left {
  max-width: 45%;
}
.hero .hero__left h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}
.hero .hero__left span {
  color: #ff902b;
}
.hero .hero__left p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #7e7d7a;
}
.hero .hero__left-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero .hero__left-btn .order-now {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #2f2105;
  padding: 10px 20px;
  border-radius: 14px;
}
.hero .hero__left-btn .order-now a {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.hero .hero__left-btn .order-now img {
  display: block;
}
.hero .hero__left-btn .order-now a {
  display: block;
}
.hero .hero__left-btn .more__menu a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #f4ae26;
}

.hero__right {
  max-width: 40%;
}
.hero__right img {
  width: 100%;
}

.popular {
  margin-top: 100px;
  position: relative;
}
.popular .h2_title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-left: 120px;
  position: relative;
  display: inline-block;
}
.popular .h2_title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #f4ae26;
}

.popular__card {
  z-index: 99;
  top: -100px;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  border-radius: 10px;
  transition: 0.5s;
}
.popular__card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popular__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  height: 500px;
}

.path {
  width: 95%;
  height: 300px;
  background: #f9d9aa;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  top: 200px;
}

.path::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px);
          clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px);
}

.card__1 {
  background-image: url("./img/unsplash_RFHFV7lVQBY.png");
}

.card__2 {
  background-image: url("./img/img_product.png");
}

.card__3 {
  background-image: url("./img/img_product (1).png");
}

.card__img {
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-bottom: 30px;
}
.card__img span {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 1rem;
}
.card__img span i {
  color: #ffd057;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card__title h3 {
  display: inline-block;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.card__buttons a {
  padding: 10px 20px;
  border: 2px solid #ff902b;
  background-color: transparent;
  color: #ff902b;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}
.card__buttons a:hover {
  background-color: #ff902b;
  color: white;
}

.card__buttons p {
  max-width: 180px;
}

.card__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__img img {
  text-align: center;
  width: 50%;
  height: 50%;
}

.special__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.collection {
  list-style: none;
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 20px;
  padding: 10px 50px;
}

.data-button {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #1d4ed8;
  color: white;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.data-button:hover {
  background-color: #1e40af;
}

.data-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.product__btn {
  width: 196px;
  height: 46px;
  background: rgb(56, 88, 214);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 5s00;
  line-height: 27px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 22px;
  border: none;
  margin-top: 69px;
  transition: 0.5s;
  text-align: center;
}

.product__btn:hover {
  cursor: pointer;
  background: green;
}

.product__btn:active {
  transform: scale(0.7);
  opacity: 7;
}/*# sourceMappingURL=style.css.map */